---
layout: default
---

{% capture _content %}
  {% if layout.refactor or page.layout == 'page' and page.permalink != '/404.html' %}
    {% include refactor-content.html content=content lang=lang %}
  {% else %}
    {{ content }}
  {% endif %}
{% endcapture %}

<article class="px-1">
  {% if page.layout == 'page' or page.collection == 'tabs' and page.no_post != true %}
    {% assign tab_key = page.title | downcase %}
    {% assign title = site.data.locales[lang].tabs[tab_key] | default: page.title %}
    {% if page.no_title == false %}
      <h1 class="dynamic-title">
        {{ title }}
      </h1>
    {% endif %}
    <div class="content">
      {{ _content }}
    </div>
  {% else %}
    {{ _content }}
  {% endif %}
</article>
